/* Prevents clicking on slider input text box. */
.ui-slider-input {
    pointer-events: none;
}

.ui-select {
    margin: auto;
    min-width: 240px;
    width: 50%;
}

.lorem-ipsum {
    text-align: left;
}
