/* Prevents clicking on slider imput text box. */
label {
    pointer-events: none;
}
.ui-slider-input {
    pointer-events: none;
}

.lorem-ipsum {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: justify;
}
