/* Prevents clicking on slider input text box. */
.ui-slider-input {
    pointer-events: none;
}

.ui-select {
    margin: auto;
    min-width: 240px;
    width: 50%;
}

.name {
    font-weight: bold;
}

.phoneNumber {
    font-style: italic;
}

.email {
    text-decoration: underline;
}

img {
    border: 2px solid;
    display: block;
    margin: auto;
    margin-top: 25px;
    min-width: 120px;
    width: 25%;
}
