/* Prevents clicking on slider input text box. */
.ui-slider-input {
    pointer-events: none;
}

.xkcd-password {
    background-color: gainsboro;
    color: darkorange;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 10px;
    padding: 10px;
    word-wrap: break-word;
}

img {
    display: block;
    margin: auto;
    width: 75%;
}
